<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <title>Material Kit by Creative Tim</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,500,700' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :head %>
  </head>
  <body class="<%= yield :class %>" data-features="<%= yield :features %>">
    <%= yield %>
  </body>
</html>
